*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header / Barra de Navegacion */ 

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    padding-right: 40px;
}

ul{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    padding: 0px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    transition: 0.3s;
}

a:hover{
    color: rgba(0, 123, 255, 0.721);
    transition: 0.3s;
}

.mediumIcon{
    width: 30px;
}

.profilePicture{
    width: 40px;
}

/* Main Content / Contenido Principal */

main{
    padding-top: 10%;
    padding-bottom: 20%;
}

.containerMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GoogleLogo{
    width: 300px;
}

input{
    border-radius: 50px;
    border-color: rgba(0, 0, 0, 0.336);
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    width: 45%;
    margin-top: 20px;
    margin-bottom: 40px;
    transition: 0.3s;
    border: solid rgba(0, 0, 0, 0.259) 1px;
}

input:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s;
}

button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: grey;
    border-radius: 5px;
    text-decoration: none;
    border: 0px;
    transition: 0.3s;
}

button:hover{
    transition: 0.3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Footer */

footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(238, 238, 238);
    padding: 20px;
}

.containerFooter1{
    display: flex;
}

.containerFooter2{
    display: flex;
}

@media (max-width: 425px){
    main{
        padding-top: 20%;
        padding-bottom: 70%;
    }
    
    nav{
        padding-right: 20px;
    }

    ul{
        font-size: 12px;
    }

    .mediumIcon{
        width: 20px;
    }
    
    .profilePicture{
        width: 20px;
    }

    a{
        margin-right: 5px;
        margin-left: 5px;
    }

    .GoogleLogo{
        width: 150px;
    }

    input{
        width: 90%;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 10px;
    }

    button{
        font-size: 10px;
    }

    footer{
        justify-content: space-evenly;
    }

    .containerFooter1{
        display: flex;
        flex-direction: column;
    }

    .containerFooter2{
        display: flex;
        flex-direction: column;
    }

    .containerFooter1 ul{
        margin: 2px;
    }

    .containerFooter2 ul{
        margin: 2px;
    }

}

@media (max-width: 768px){
    .GoogleLogo{
        width: 250px;
    }

    input{
        width: 75%;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }

    a{
        font-size: 12px;
    }
}
